mixin elementMenu(isClass, element)
    li(class="menu-list-element " + isClass)
       a(href=element.url, class="menu-list-element-a") #{element.text}

mixin menu(numPage)
    naw.menu
        ul.menu-list.js-menu-button
            -
                let menu = [
                    {url: "/", text: "i % 1"},
                    {url: "/two.html", text: "i % 2"},
                    {url: "/three.html", text: "i % 3"},
                    {url: "/five.html", text: "i % 5"},
                    {url: "/six.html", text: "i % 6"}
                ]
            each element,i in menu
                if numPage === i
                    +elementMenu("is-active", element)
                else
                    +elementMenu("", element)