.number-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.number-list-element {
    width: 100px;
    height: 100px;
    border: solid 2px #5c5c5c;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}

.number-list-element.mod-red {
    background-color: rgba(255, 0, 0, 0.5);
}

.number-list-element.mod-green {
    background-color: rgba(0, 255, 0, 0.5);
}

.number-list-element.mod-blue {
    background-color: rgba(0, 0, 255, 0.5);
}