doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style
            include ./menu/menu.css
            include ./caseWhen.css
    body
        h1.h1 Pug
        include ./menu/menu.pug
        include ./caseWhen.pug
